<form>
    <md-card>
        <md-card-title>"{{ hero.name }}"</md-card-title>
        <md-card-content>
            <p>
                <label>Id: </label>{{ hero.id }}</p>
            <md-input-container>
                <input mdInput [value]="hero.name" [(ngModel)]="hero.name" name="name" placeholder="Name" />
            </md-input-container>
        </md-card-content>
        <md-card-actions>
            <!--Big bug in angular material: submitting the form with enter always call the first button !!!!-->
            <button type="submit" md-button (click)="save.emit(hero)">Save</button>
            <button md-button (click)="back.emit()">Back</button>
        </md-card-actions>
    </md-card>
</form>
