@import 'variables';

// Example: how to get a color from a palette.
// $title: mat-color($accent, A400);
// $title: mat-color($accent, lighter);

.app__title {
  font-size: 2rem;
  font-weight: bold;
}

.app__subtitle {
  font-style: italic;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app__contact {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.app__menu {
  line-height: 2.7rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.nav-toolbar__nav-item {
  color: $white-87-opacity;
  text-decoration: none;
}

.sidenav {
  width: 200px;
  text-align: center;
}

.sidenav__nav-item {
  width: 100%;
  border: 0px;
  outline: 0px;
}
