@import 'variables';

// Example: how to get a color from a palette.
// $title: mat-color($accent, A400);
// $title: mat-color($accent, lighter);

.nav__title {
  font-size: 2rem;
  font-weight: bold;
}

.nav__item {
  color: $white-87-opacity;
  text-decoration: none;
}
