<md-card>
    <md-card-title>Contact Crisis Center</md-card-title>
  <md-card-content>
    <div *ngIf="details">
      {{ details }}
    </div>
    <div>
      <md-input-container>
        <textarea mdInput [(ngModel)]="message" rows="3" cols="40" [disabled]="sending" placeholder="Message"></textarea>
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions *ngIf="!sending">
      <button md-button (click)="send()">Send</button>
      <button md-button (click)="cancel()">Cancel</button>
  </md-card-actions>
</md-card>

<!--
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
